Source: osso-af-startup
Section: base
Priority: required
Maintainer: Gabriel Schulhof <gabriel.schulhof@nokia.com>
Build-Depends:
 debhelper (>= 10),
Standards-Version: 3.6.0

Package: osso-af-startup
Architecture: all
Pre-Depends: dpkg (>= 1.17.14)
Depends:
 ${misc:Depends},
 osso-af-utils (>= 1.16-1),
 dbus (>= 0.61-osso5),
 maemo-system-services (>= 0.5.0),
 sudo,
Description: Application framework top startup scripts
 Application framework startup scripts af-services, af-startup and
 af-base-apps. Also includes D-BUS session bus starting script.
 These scripts are for the target only -- they have not been necessarily
 tested in Scratchbox.
